* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 80%;
    margin: auto;
}

nav {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    align-items: center;
}

.logo {
    width: 10%;
}

.left-menu {
    width: 30%;
}

.right-menu {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu li {
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

.menu li a {
    text-decoration: none;
    color: #a0a6ad;
}

.menu li span {
    font-size: 10px;
}

.button {
    padding: 10px 25px;
    background-color: #d8318b;
    border-radius: 20px;
}

.button a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    color: black;
}

/* SUB-MENU */
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: -15px;
    width: 300px;
    box-shadow: 0 0 5px #333; /* per la sfocatura */
}

.dropdown.active {
    display: block;
}

.dropdown .menu {
    display: block;
}

.dropdown .menu li {
    display: block;
    padding: 10px;
}